body{
    background-color:  #293b88;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    color: white;
    border-radius: 5px;
  } /* DEIXA OS ITENS FLEXIVEIS EM UMA UNICA LINHA OU COLUNA; DEIXA OS ITENS ESPAÇADOS IGUALMENTES; CENTRALIZA OS ITENS VERTICALMENTES; POSSUI A COR DE FUNDO CINZA;
  UM ESPAÇAMENTO NAS EXTREMIDADES DE 20PX; A COR DAS LETRAS BRANCAS*/
  
  h2{
    text-align: center;
  } /* ALINHA O TEXTO NO CENTRO */
    
  .banner {
    display: flex;
    align-items: center;
  }/* DEIXA OS ITENS FLEXIVEIS EM UMA UNICA LINHA OU COLUNA; ALINHA O TEXTO NO CENTRO */
    
  .banner h1 {
    margin: 0;
  }/*  */
    
  .banner img {
    width: 100px;
    margin-left: 20px;
  }
    
  nav {
    display: flex;
  }
    
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
    
  nav li {
    margin-left: 20px;
  }
    
  nav li a {
    color: white;
    text-decoration: none;
  }
    
  nav li a:hover {
    text-decoration: underline;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
    
  .gallery li {
    margin: 10px;
  }
    
  .gallery img {
    width: 220px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: solid 2px black;
  }
  